// * { color: red }

h1.page__title,
h2.node__title a.node__title-link span.field-name-title,
h3.card-title a.node__title-link span.field-name-title,
div.card-group h1.node__title span.field-name-title {
  font-family: "gf_Young_Serif variant0", Tofu;
	font-weight: 600;
}

.pr-navbar, 
div#navbar,
footer#footer,
div#rid-footer {
  background-color: #2e2e2e;
}

div.card-group div.field-name--field-card-title h3.field__label,
div.field-node--field-card-img h3.field__label {
  display: none;
}

div.card-group article.node,
div.card-group div.row-cols-md-3 {
  border-style: solid;
  border-color: #df0002;
  border-width: 4px;
  border-radius: 5px;
}

div.field-node--field-card-title {
	display: none;
}

span.field-name-title {
  color: #2e2e2e;
}

